
@font-face {
  font-family: 'nunito_bold';
  src: url('./fonts/Nunito-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'nunito_light';
  src: url('./fonts/Nunito-Light.ttf');
  font-weight: normal;
  font-style: normal;
}


:root{
  --color-white-proxima: white;
  --color-blackop-proxima: rgba(37, 37, 37, 0.096);
  --color-blue-proxima: #19296a;
  --color-lightblue-proxima: #beccfa;
  --color-light-proxima: #eef3fe;
  --color-button:#5456e7;
  --font-bold: 'nunito_bold';
  --font-light: 'nunito_light';
}